.main-wrap { height: 100%; width: 100%; overflow: hidden; }
.bg-wrap img { display: block; width: 100%; }
.contBg { padding: .5rem 0.30rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/bgall.jpg); }
.actRules { border: 2px solid #63092c; border-radius: 16px; padding: 0.40rem 0.18rem; margin: 0 auto; }
.actRules li { margin-top: .26rem; }
.actRules li:first-child { margin-top: 0; }
.erweima { margin-top: 1.16rem; }
.erweima img { display: inline-block; width: 2.45rem; height: 2.45rem; }
.scort { position: absolute; width: 1.92rem; height: .53rem; background: url(http://www-test.zhaoduiyisheng.com/activity/img/turnPlate/scort.png) no-repeat center; background-size: cover; left: .88rem; bottom: .82rem; z-index: 1000; }
.doc { position: absolute; width: 1.92rem; height: .53rem; background: url(http://www-test.zhaoduiyisheng.com/activity/img/turnPlate/doc.png) no-repeat center; background-size: cover; right: .88rem; bottom: .82rem; z-index: 1000; }
.platebg { position: absolute; width: 5.14rem; height: 5.14rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/plate.png) no-repeat left; background-size: cover; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); top: -.12rem; z-index: 999; -webkit-animation-name: change; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start; }
.plate { width: 4.25rem; height: 4.25rem; background: url(http://www-test.zhaoduiyisheng.com/activity/img/turnPlate/plate.jpg) no-repeat center; background-size: cover; border-radius: 50%; }
.handle { width: .58rem; height: 1.08rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/handle_03.png) no-repeat center; background-size: cover; position: absolute; left: 50%; bottom: 50%; margin-left: -0.29rem; z-index: 666; transition: all 2s; -webkit-transition: all 2s; transform-origin: center bottom; -webkit-transform-origin: center bottom; }
.start { width: 1.35rem; height: 1.35rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/start_03.jpg) no-repeat center; border-radius: 50%; z-index: 888; background-size: cover; }
.gift { width: .8rem; height: 1rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/gift_03.png) no-repeat center;background-size: cover;bottom: .52rem; z-index: 8888; }
@-webkit-keyframes change {
    0%, 50% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@keyframes change {
    0%, 50% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@media screen and (width:320px) {
    html { font-size: 42.666px !important; }
    .closePop { bottom: 2%; }
}
@media screen and (max-width:361px) and (min-width:341px) {
    .closePop { bottom: 4%; }
}
.dialog { width: 5.8rem; height: 7.2rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/popBg_03.jpg) no-repeat center; background-size: cover; border-radius: 20px; position: relative; padding: .60rem .80rem 0; }
.closeDialog { position: absolute; top: 0; right: 0; width: 1.15rem; height: 1.12rem; background: url(http://imgcdn.zhaoduiyisheng.com/activity/img/turnPlate/close_03.png) no-repeat center; background-size: cover; }
.title { width: 80%; text-align: center; margin: 0 auto; font-size: 0; }
.title img { display: inline-block; width: 100%; }
.regPhone { width: 100%; border-radius: 8px; border: 0; background-color: #fff; height: .66rem; padding-left: .3rem; font-size: .28rem }
.regNum { width: 50%; padding-left: .3rem; border: 0; height: .66rem; float: left; background-color: #fff; font-size: .28rem; border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px }
.getRegNum { display: block; width: 50%; line-height: .66rem; border-radius: 0 8px 8px 0; -webkit-border-radius: 0 8px 8px 0; color: rgba(255, 255, 255, .85); text-align: center; font-size: .28rem; background: #f5654f; float: left; }
.mt30 { margin-top: .30rem; }
.mt98 { margin-top: .98rem; }
.confirm { width: 80%; height: .66rem; line-height: .66rem; text-align: center; color: #ffffff; background: -webkit-linear-gradient(top, #4a99b7, #3f89a4); background: #f5654f; font-size: .30rem; border-radius: 0.08rem; position: absolute; bottom: .87rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.confirm a { color: #ffffff; }
.opacity8 { color: rgba(255, 255, 255, .8); }
.w60 { width: 60%; }
.mt165 { margin-top: 1.65rem; }
.mt65 { margin-top: 0.65rem; }
.mt40 { margin-top: .40rem; }
.point { display: block; width: 1.80rem; padding: .18rem .54rem; text-align: center; font-size: .34rem; background: #f5654f; color: #ffffff; margin: .32rem auto .38rem; }
.back { position: absolute; top: 0.3rem; left: 0.3rem; display: block; width: .6rem; height: .6rem; background: url(http://imgcdn.zhaoduiyisheng.com/img/icon/back_white_03.png) rgba(0, 0, 0, .48) no-repeat center; background-size: .48rem; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { line-height: .66rem }
.item>p { position: relative; padding-left: .3rem; margin-bottom: .1rem; }
.item>p::before { display: inline-block; position: absolute; top: 0; left: 0; color: #fff; }
.item>p:nth-child(1)::before { content: "1."; }
.item>p:nth-child(2)::before { content: "2."; }
.item>p:nth-child(3)::before { content: "3."; }
.item>p:nth-child(4)::before { content: "4."; }
.item>p:nth-child(5)::before { content: "5."; }
.item>p:nth-child(6)::before { content: "6."; }
.item>p:nth-child(7)::before { content: "7."; }
.txt1{left: .9rem;bottom: 5px;}
.txt2{right: 1.1rem;bottom: 5px;}
