section .main dl input{ position: absolute; right: 1.5rem; bottom: 0.5rem; border: none;}

footer span{ position: absolute; bottom: 3.22rem; left: 80%; width: 18%; height: 0.15rem; display: block; background: #E4366B;}
