@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
    font-size:12px;
    font-family:"宋体",Arial;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

.fl{float:left;}
.fr{float:right;}
.clb{clear:both;}
.cbo{clear:both; overflow:hidden;}
.prv{position:relative;}
.ft-arial{font-family:Arial, Helvetica, sans-serif;}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
/*�����С*/
.f24{font-size:24px;}
/*������ɫ*/
.c-white{color:#fff!important;}


.c-gray-9f{color:#cfcfcf;}


.c-red-40{color:#401d01}
.c-red{color:#F40004}

/*��ɫ*/
.c-yellow-f0{color:#f08200;}
.c-yellow-f3{color:#f39800;}
.c-hui-92{color:#929292;}
/*�����С*/
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px!important;}
.f20{font-size:20px;}
.f30{font-size:30px!important;}
.f34{font-size:34px!important;}

/*padding*/
.pt30{padding-top:30px;}
.pt20{padding-top:20px;}
.pt10{padding-top:10px;}


.pb60{padding-bottom:60px;}
.pb40{padding-bottom:40px;}
.pb20{padding-bottom:20px;}
.pb10{padding-bottom:10px;}

.pl40{padding-left:40px;}
.pl30{padding-left:30px;}
.pl20{padding-left:20px;}
.pl10{padding-left:10px;}

.pr20{padding-right:20px;}
.pr40{padding-right:40px;}
.pr10{padding-right:10px;}

/*margin*/
.mt2{margin-top:3px;}
.mt6{margin-top:6px!important;}
.mt10{margin-top:10px!important;}
.mt20{margin-top:20px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt70{margin-top:70px!important;}
.mt80{margin-top:80px!important;}



.mr2{margin-right:2px;}

.mr10{margin-right:10px;}

.mr20{margin-right:20px;}

.mr30{margin-right:30px;}

.mr40{margin-right:40px;}

.mr50{margin-right:50px;}

.ml2{margin-left:2px;}

.ml10{margin-left:10px;}

.ml20{margin-left:20px;}

.ml30{margin-left:30px;}

.ml40{margin-left:40px;}

.ml50{margin-left:50px;}

.mb60{margin-bottom:60px!important;}
.mb50{margin-bottom:50px!important;}
.mb40{margin-bottom:40px!important;}
.mb30{margin-bottom:30px!important;}
.mb20{margin-bottom:20px!important;}

/*����*/
.vm{vertical-align:middle;}
.vt{vertical-align:top;}
.vb{vertical-align:bottom;}

/*background*/
.bg-white{background:#fff!important;}
.bg-hui-dc{background:#dcdddd!important}
.bg-hui-ef{background:#eeefef}
.bg-red-fa{background:#fae7d1;}
.bg-hui-d9{background:#d9d9d9}
.bg-hui-38{background:#383838}

.bg-hui-f5{background:#f5f5f5;}
.bg-hui-ccc{background:#ccc;}
.bg-yellow{background:#f39800;}
/*width*/
.w50p{width:50%;}
.w85p{width:85%;}
.w95p{width:95%;}
.w100p{width:100%;}
.w108p{width:108%;}

/*height*/

/*border*/
.bord-b-hui-dc{border:solid 1px #dcdcdc;}
.bord-b-hui-aaa{border-bottom:solid 1px #aaaaaa;}

