body { overflow: auto; }
.main-wrap { margin-bottom: .98rem; }

.logo { z-index: 999; left: .28rem; width: 1.20rem; height: .3rem; background: url(http://imgcdn.zhaoduiyisheng.com/img/logo_small_03.png) no-repeat; background-size: cover; }
.login { z-index: 999; right: .3rem; letter-spacing: 2px; color: #fff; }
.setting { background: url(http://imgcdn.zhaoduiyisheng.com/img/icon/icon_setting.png) no-repeat; background-size: 0.5rem; z-index: 999; right: .28rem; width: 0.50rem; height: 0.50rem; }
.banner { overflow: hidden; width: 100%;}
.banner img { width: 100%;}
.main-activity{ padding:  0.10rem;
  display: -webkit-box; display: flex;
}

.main-activity a,.main-activity>em{display: block; -webkit-box-flex: 1;  flex: 1;}
.service-item .main-activity a:before,.service-item .main-activity>em:before{content:"";display: block;padding: 50% 50%;}
.main-activity a:first-child{margin-right: .10rem;}
.free-check {
  margin-right: .10rem;
  display: block;
  -webkit-box-flex: 1;
  flex: 1;
}
.free-check,.half-kill{position: relative;}
.free-check img,.half-kill img{ width: 100%; display: block;position: absolute;left: 0;top: 0;}
.free-check:before,.half-kill:before{content: "";display: block;padding: 20.8% 50%;}
.swiper-slide img{ display: block}
.swiper-pagination-bullet { background-color: #ffae00; opacity: 1; }
.swiper-pagination-bullet-active { background-color: #42babb; }
.service-item{ margin: 0.20rem 0.10rem 0.10rem 0.10rem;  }
.our-service{ font-size: 0.24rem;  text-align: center;  position: relative;}

.our-service:before{width:2.6rem;height:1px;line-height: 0.24rem;content: "";
  background:  linear-gradient( to right,#ededed,#cfcfcf );
  background:  -webkit-linear-gradient( to right,#ededed,#cfcfcf );
  position: absolute;left: 0.04rem;top:0.13rem;
}
.our-service:after{width:2.6rem;height:1px;line-height: 0.24rem; content: "";
  background:  linear-gradient( to left,#ededed,#cfcfcf );
  background:  -webkit-linear-gradient( to left,#ededed,#cfcfcf );
  position: absolute;right: 0.04rem;top:0.13rem;
}
.face img,.tele img{ width: 100%; display: block;position: absolute;left: 0;top: 0;}

.short-mask{position: absolute;bottom: 0;left: 0; height: 0.52rem; padding-left:0.20rem;
  padding-right:0.20rem;width:100%;background: rgba(0,0,0,.48);line-height: 0.52rem;}
.service-item .main-activity{ padding:0; margin-top: 0.15rem;}


.vip{display: block; width: 100%; margin-bottom: 0.20rem; margin-top: 0.10rem;}
.vip img{ display: block;width: 100%;}
.teach-use{ padding: 0 0.25rem;}
.teach-use h2{font-size: 0.30rem; color: #333333;
 position: relative;    text-indent: 0.16rem; width: 3rem;}
.teach-use h2:before{
  width: 0.06rem;
  height: 0.30rem;
  background: #42babb;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.15rem;
  left: 0;
  border-radius: 0.05rem;
}
.teach-title{ height:0.68rem;line-height: 0.68rem;border-bottom: 1px solid #e5e5e5; }
.telephone{ height: 0.54rem;text-align: center;line-height: 0.54rem;}
.swiper-container-horizontal>.swiper-pagination {
  bottom: 5px;
}
.banner .yklmimg{max-width: 100%;width: auto;}
@media screen and (width:320px) {
  .main-dialog img { width: 5.3rem; }
  .doc-btn { margin: .1rem auto; }
  .index-main { padding-top: .2rem; }
  .main-dialog { height: 3.24rem; }
  .our-service:before{ width: 2.3rem;}
  .our-service:after{ width: 2.3rem;}
  .alert-free-check{top:40%;}
}
