
/*服务进程顶部*/
.word-align{letter-spacing: 0.15rem;}
.service-person-head{width:1rem;height:1rem;border-radius: 50%;overflow:hidden;}
.service-person-head img{display:block;width:100%;}
/*服务跟踪*/
.service-tracking{font-size:0.3rem;padding:.24rem .3rem;}
.items-title:before{left:.3rem;}
.icon-clock{background-image:url(http://imgcdn.zhaoduiyisheng.com/img/icon/clock_gray.png);
    margin-left:0.32rem;margin-bottom: 0.16rem;}
.container:first-child .icon-clock{background-image:url(http://imgcdn.zhaoduiyisheng.com/img/icon/clock_active.png);}
.container:first-child .service-pro-time{color: #42babb!important;}
.container:first-child .btn{color: #42babb!important;border:solid 1px #42babb!important;}
.service-pro-item{padding:0 0 1rem 0.3rem;}
.service-pro-time{position:relative;margin-right:0.3rem;z-index:99;
    background: #fff;
    margin-top: .2rem;padding-top: .1rem;}
.service-pro-time:after{position:absolute;content:"";display:block;width:0;
    height:90%;left:.54rem;border-left:dashed 1px #999;z-index:1;}
.container:last-child .service-pro-time:after{height:0;}
.appoint-time{line-height: 1.5em;}
.service-pro-time .f20{
    line-height: .32rem;}
.btn-service{padding:0.10rem 0.22rem;border:solid 1px #999;font-size:0.24rem;}
.btn-service-active{border:solid 1px #42babb;color:#42babb;}
.icon-list{-webkit-background-origin: content-box;}
.mb05{margin-bottom:0.05rem;}
.mt40{margin-top:.4rem;}
.video-url{text-decoration:underline;word-break: break-all;}
.w106{width:1.06rem;}

.container:not(:first-child) *{color: #999!important;}
.container:first-child .f30{color: #42babb!important;}
.container:first-child .f24{color: #666!important;}
.container:nth-child(2) .c-cyan{color:#42babb!important;}
.container:nth-child(2) .c-cyan+div *{color:#666!important;}