
.index-head,.mention-hos{background:#c00000;}
.icon-arrowr{background: url(http://imgcdn.zhaoduiyisheng.com/img/icon/arrow_r_white.png) no-repeat center;background-size: contain;}
.source{padding:.2rem .3rem .3rem;}
.mrl10{margin-left:.1rem;margin-right:.1rem;}
.table-wrap>ul{display: -webkit-box; display: flex;border-bottom:solid 2px #c00000;width:100%;}
.table-wrap>ul>li:nth-child(2){-webkit-box-flex: 1; flex: 1;padding:0 .2rem;border-right:solid 2px #c00000;border-left:solid 2px #c00000;}
.table-wrap>ul.table-head{background: #c00000;border-bottom:0;}
.table-head>li,.mention-hos{line-height: .74rem;height:.74rem;}
.table-wrap>ul>li:first-child{width:1.08rem;}
.table-wrap>ul>li:last-child{width:1.45rem;}
.table-wrap .table-head>li:nth-child(2){border-right:solid 2px #ffffcc;border-left:solid 2px #ffffcc;}
.table-wrap>ul:not(.table-head)>li{display:table-cell;vertical-align: middle;height:1rem;}
.table-wrap>ul:not(.table-head){display:table;}
.bg-yellow{background:#ffffcc;}
.mention-hos-main{line-height: 1.5em;padding:.1rem .2rem .3rem;}